*{
    margin: 0;
    padding: 0;
}

/* screen sizes 400px and below */
@media screen and (max-width: 400px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
    .alert-info {
        background: #CCFFFF;
        border: 1px solid #CCCCCC;
        /*padding: 1em;*/
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 1em 0 ;
    }


    img{
        width: 100%;
    }
}
