* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #76858f;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1em;
}

.hidden-on-desktop {
    display: none;
}

h1 {
    font-size: 2.5em;
    color: #ebeeef;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

}

.nav-links {
    background: #b1b9bf;
    border-radius: 6px;
    padding: 1em;
}

ul {
    display: flex;
    gap: 1.5em;
}

li {
    list-style: none;
}

.header-img {
    display: flex;
    margin-top: .5em;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    /*margin-bottom: 1em;*/
}

.main {
    width: 60%;
    background: #b1b9bf;
    border: 2px solid black;
    border-radius: 8px;
    height: 300px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.099);
    overflow: hidden;
}

section.main > h2 {
    background: #2f414c;
    color: #ebeeef;
}

section.main > p {
    padding: 9px;
    font-size: 14px;
}

.sub-section {
    width: 35%;
    margin-bottom: 20em;
    font-style: italic;
    flex-grow: 1;
    background: #b1b9bf;
    border: 2px solid black;
    border-radius: 8px;
    height: 300px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.099);
}

section.sub-section > h2 {
    color: #ebeeef;
    background: #2f414c;
}

section.sub-section > p {
    font-size: 14px;
    padding: 9px;
}

h2 {
    margin-bottom: .5em;
    /*text-align: center;*/
    background: #CCCCCC;
    padding: 9px;
}

footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background: #2f414c;
    padding: 1em;
    width: 100%;
}

footer > p {
    font-size: 14px;
    color: #ebeeef;
}

#social-media-links {
    display: flex;
    gap: 1em;
}

div#social-media-links > a {
    text-decoration: none;
}

svg {
    display: block;
    width: 24px;
}

svg.twitter-icon > path {
    fill: #179CF0;
}

svg.instagram-icon > path {
    fill: #D6244F;
}

svg.facebook-icon > path {
    fill: #3A5590;
}


/* screen sizes 400px and below */
@media screen and (max-width: 350px) {
    .hidden-on-desktop {
        display: inline-block;
    }

    body {
        display: flex;
        flex-direction: column;
        /* align-items: center;*/
        margin: 1em;
        gap: 0;
    }

    .alert-info {
        background: #CCFFFF;
        border: 2px solid #CCCCCC;
        text-align: center;
        width: 100%;
        padding: 1em 0;
    }

    div.alert-info > a {
        color: black;
        text-decoration: none;
    }

    h1 {
        margin-top: 0.2em;
        font-size: 3em;
        margin-bottom: .5em;
        text-align: center;
        letter-spacing: 1px;
    width: 100%;

    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .nav-links {
        background: #62747f;
        border-radius: 0;
        padding: 0;
    }

    ul {
        display: inline;
    }


    li {
        background: #CCCCCC;
        text-align: center;
        width: 100%;
        padding: 1em 0;
        list-style: none;
        margin-bottom: .7em;
        display: block;


    }

    li > a {
        color: blue;
    }

    .header-img {
        margin-top: 0;
        width: 100%;
    }

    img {
        /*max-width: 100%;*/
        /*max-height: 100%;*/
        margin-bottom: 1.2em;
    }

    .main {
        padding: 0;
        width: 100%;
        margin-bottom: 1em;
        height: 200px;


    }

    h2 {
        margin-bottom: .3em;
    }

    section.main > p {
        margin-bottom: 2em;
    }

    .sub-section {
        width: 100%;
        margin-bottom: 2em;
        padding: 0;
        height: 200px;

    }

    section.sub-section > p {
        margin-bottom: 6em;
    }

    section.sub-section > h2 {
        font-style: italic;
    }

    footer {
        width: auto;
        /*padding: 0;*/
    }

    footer > p {
        font-size: 10px;
    }


    #social-media-links {
        gap: .5em;
    }

    svg {
        width: 18px;
    }


}
